name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: cargo fmt
        run: |
          cargo fmt --check

  fix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: cargo fix
        run: |
          cargo fix
          git diff --exit-code
      - name: cargo fix edition
        run: |
          cargo fix --edition
          git diff --exit-code

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: cargo clippy
        run: |
          cargo clippy
      - name: cargo clippy --release
        run: |
          cargo clippy --release

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build:
          - debug
          - release
    container: ghcr.io/alisterd51/cross-toolchain:nightly
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Build ${{ matrix.build }}
        run: |
          make all BUILD=${{ matrix.build }}
